<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/default.css">
  <link rel="icon" type="image/x-icon" href="https://hopeelephant.github.io/notebook/favicon.ico">
  <title>拉屎敏</title>
</head>
<body>
    <header>
      <h2>遇见生命中的沈敏</h2>
    </header>

    <div class="container">
        {{ content }}
    </div>

    <footer>
      <p>遇见<a href="https://hopeelephant.github.io/shenmin">shenmin</a></p>
    </footer>
</body>
</html>
